#This file lists forwarding configuration parameters 

#Current configurations for Raspberry Pi
#eth0 Iface varibales
RedPine_Local_Eth_Adapt="eth0"
#eth0_gw="192.168.1.1"
eth0_destination="192.168.0.0/16"

#eth1 Iface varibales
ECU_Eth_Adapter="eth1"
ECU_Ip="10.32.32.40"




#Current configurations for ECU

#config array elements are defined according to given order:
#mapped_Raspberry_port ECU_destination_ip ECU_destination_port

config=(

		5000 10.32.32.0 23
		
		8000 10.32.32.0 8000
		
		)



